.gas-timing {
  color: var(--colors-primary-grey_01);
  font-size: 13px;

  &--positive {
    color: var(--colors-primary-green_07);
   
  }

  &--warning {
    color: var(--colors-primary-yellow_01);
  }

  &--negative {
    color: var(--colors-primary-yellow_01t);
  }

  .info-tooltip {
    display: inline-block;
    margin-inline-start: 4px;

    path {
      fill: var(--color-error-default);
    }
  }
}
