.form-field {
  &__heading {
    display: flex;
    align-items: center;
    margin-top: 4px;
  }

  .info-tooltip {
    display: inline-block;
  }

  &__heading-detail {
    flex-grow: 1;
    align-self: center;
  }

  &__heading-title {
    &__tooltip {
      width: 180px;

      &__warning-icon {
        color: var(--color-error-default) !important;
      }
    }
  }

  &__error,
  &__error h6 {
    color: var(--color-error-default) !important;
    padding-top: 6px;
  }

  h6 {
    padding-bottom: 6px;
    margin-inline-end: 6px;
    color: var(--color-text-default);
  }

  i {
    color: var(--color-icon-default);
    font-size: $font-size-h7;
    margin-bottom: 10px;
  }

  &__input {
    border: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 16px;
    gap: 135px;

    width: 361px;
    height: 60px;
    left: 16.12px;
    top: 496.96px;

    /* Neutral/grey_06 */

    background: #F3F3F9;
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(170, 170, 204, 0.25), inset 5px 5px 10px rgba(170, 170, 204, 0.2), inset -5px -5px 10px #FFFFFF;
    border-radius: 40px;

    // &:focus {
    //   border: solid 1px var(--color-primary-default);
    // }

    &--error {
      border-color: var(--color-error-default);
    }

    &--warning {
      border-color: var(--color-warning-default);
    }
  }
}