.form-field {
  &__heading {
    display: flex;
    align-items: center;
    margin-top: 4px;
  }

  .info-tooltip {
    display: inline-block;
  }

  &__heading-detail {
    flex-grow: 1;
    align-self: center;
  }

  &__heading-title {
    &__tooltip {
      width: 180px;

      &__warning-icon {
        color: var(--color-error-default) !important;
      }
    }
  }

  &__error,
  &__error h6 {
    color: var(--color-error-default) !important;
    padding-top: 6px;
  }

  h6 {
    padding-bottom: 6px;
    margin-inline-end: 6px;
    color: var(--color-text-default);
  }

  i {
    color: var(--color-icon-default);
    font-size: $font-size-h7;
    margin-bottom: 10px;
  }

  &__input {
    padding: 10px 20px 10px 20px;
    color: var(--color-text-default);
    border: 0px;
    background-color: var(--colors-primary-grey_06);
    box-shadow: 5px 5px 10px 0px #AAAACC33 inset;
    border-radius: 40px;

    // &:focus {
    //   border: solid 1px var(--color-primary-default);
    // }

    &--error {
      border-color: var(--color-error-default);
    }

    &--warning {
      border-color: var(--color-warning-default);
    }
  }
}