.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  height: 64px;
  h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: var(--color-text-neutral-black_01);
  }
  &__account-options {
    background: none;
    font-size: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    border-radius: 50% !important;
    background-color: var(--colors-primary-grey_06);
    filter: drop-shadow(-5px -5px 10px rgba(255, 255, 255, 0.5)) drop-shadow(5px 5px 10px rgba(170, 170, 204, 0.15)) drop-shadow(10px 10px 20px rgba(170, 170, 204, 0.3)) drop-shadow(-10px -10px 20px rgba(255, 255, 255, 0.5));
  }
}


.account-options-menu {
  &__explorer-origin {
    @include H7;

    color: var(--color-text-alternative);
  }
}
