.import-token-link {
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  a {
    font-weight: 500;
    font-size: 15px;
    display: inline;
    color: var(--colors-accent-blue_01);
    text-transform: capitalize;
  }
}
