.selected-account {
  // &__tooltip-wrapper {
  //   width: 100%;
  // }

  &__name {
    @include H5;
    font-weight: 500;
    color: var(--color-text-default);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 4px;
  }

  &__address {
    @include H7;

    color: var(--color-text-alternative);
  }

  &__clickable {
    border-radius: 10px;
    cursor: pointer;
    background-color: unset;
    padding: 0;
    text-align: left;
    &:hover,
    &:active {
      background-color: var(--color-background-default-hover);
    }
  }

  &__copy {
    height: 13px;
    display: inline-block;
    margin-inline-start: 3px;
  }
}
