.unlock-page {
  color: var(--color-text-default);
  background: var(--colors-primary-grey_06);
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 400;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 45px;

  &__container {
    background: var(--colors-primary-grey_06);
    width: 100%;
  }

  &__mascot-container {
    margin-top: 24px;
    position: relative;

    &__beta {
      /* these colors should be used on both light and dark mode */
      background: var(--brand-colors-blue-blue500);
      color: var(--brand-colors-white-white000);
      padding: 3px 6px;
      font-size: 16px;
      position: absolute;
      bottom: 10px;
      right: 0;
      border-radius: 10px;
      text-transform: uppercase;
    }
  }
  &__image-container {
    position: relative;
    width: 100%;
    height: 390px;
    overflow-x: hidden;
    margin-bottom: 30px;
  }
  &__image {
    position: absolute;
    right: -18%;
  }

  &__title {
    position: absolute;
    word-break: break-all;
    line-height: 100%;
    max-width: 8ch;
    padding-left: 16px;
    bottom: 0;
  }

  &__form {
    width: 100%;
    .form-field__input {
      width: 100%;
    }
    label {
      position: relative;
      display: flex;
      align-items: center;
    }
    .form-field__eye {
      text-align: center;
      width: fit-content;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      top: inherit;
      right: 16px;
    }
  }
  &__submit-btn {
    position: relative;
    display: flex;
    align-items: center;
    img {
      position: absolute;
      right: 16px;
    }
  }

  &__links {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    color: var(--color-text-neutral-grey_01);
    font-size: 15px;
    a {
      color: var(--colors-primary-blue_01);
      font-weight: 700;
      margin-right: 5px;
      margin-left: 5px;
    }
  }

  &__link {
    font-size: unset;
    font-weight: bold;
  }

  &__support {
    margin-top: 25px;
    font-size: 0.75rem;

    a {
      color: var(--color-primary-default);
    }
  }
}
